.help-section__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.11;
  margin: 0;
  width: 287px;
  height: 56px;
  border: none;
  border-radius: 48px;
  background: #f8f8f8;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.help-section__button:hover {
  background: #f1f5f9;
}

@media screen and (max-width: 767px) {
  .help-section__button {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 29px;
  }
}
