.bankСard {
  padding-top: 56px;
  margin: 0 auto;
  /* max-height: 521px; */
  max-width: 558px;
}

@media screen and (max-width: 767px) {
  .bankСard {
    max-width: 359px;
    padding-top: 24px;
  }
}


.bankСard__switch {
max-width: 680px;
/* width: 100%; */
}
