.friends__quote_text {
  margin: 0 auto 16px auto;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.32;
}

@media screen and (min-width:1025px) and (max-width: 1279px){
  .friends__quote_text{
    font-size: 30px;
  }
}

@media screen and (min-width:768px) and (max-width: 1024px){
  .friends__quote_text{
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .friends__quote_text {
    font-size: 27px;
    line-height: 1.41;
  }
}

@media screen and (max-width: 376px) {
  .friends__quote_text {
    max-width: 326px;
    font-size: 23px;
    line-height: 1.41;
  }
}
