.digits {
  margin: 0 auto;
  font-family: 'Inter', serif;
  padding-top: 39px;
  padding-bottom: 39px;
  /* height: 249px; */
  max-width: 1280px;
  background-color: #77C5D5;
}

@media screen and (max-width: 767px) {
  .digits {
    padding-top: 57px;
    padding-bottom: 57px;
  }
}
