.bankCard__subtitle {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;

  color: #000000;
  padding-bottom: 16px;
  padding-top: 40px;
}

.bankCard__subtitle:first-of-type {
  padding-top: 0;
}

@media screen and (max-width: 1080px) {
  .bankCard__subtitle {
    padding-left: 32px;
  }
}


