@media screen and (max-width: 768px) {
  .switch__visible-radio_el_monthly {
    margin-left: -5px;
  }
}

@media screen and (max-width: 426px) {
  .switch__visible-radio_el_monthly {
    margin-left: -10px;
  }
}

@media screen and (max-width: 390px) {
  .switch__visible-radio_el_monthly {
    margin-left: -25px;
  }
}


@media screen and (max-width: 374px) {
  .switch__visible-radio_el_monthly {
    margin-left: -15px;
  }
}
