.header__sublink-item {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: black;
  margin: 0;
  padding: 0 0 10px;
  transition: ease-in-out;
  transition-duration: 0.3s;
}


.header__sublink-item:hover {
  color: #54a8b6;
}


@media screen and (max-width: 767px) {
  .header__sublink-item {
    width: 100%;
    font-size: 22px;
    line-height: 0.67;
  }
}
