.blog__card-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    padding: 0 0 16px 24px;
    transition: .3s;
}
