.help-section__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin: 43px auto 16px auto;
}

@media screen and (max-width: 767px) {
  .help-section__title {
   margin-top: 0;
  }
}
