.friends__subtitle {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding-left: 123px;
  min-width: 509px;
  font-family: 'Inter';
  font-style: normal;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* text-align: center; */
  color: #FFFFFF;
  z-index: 1;
  
}

@media (max-width: 767px) {
  .friends__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
