.header__fund-about {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: -500%;
  left: 0;
  background-color: white;
  padding-top: 0;
  padding-left: 61px;
  padding-right: 0;
  padding-bottom: 42px;
  margin: 0;
  z-index: 20;
  transition: ease;
  transition-duration: 0.3s;
  overflow-y: hidden;
}

@media screen and (max-width: 1080px) {
  .header__fund-about {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__fund-about {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 20;
    padding: 32px 0 48px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
