.help__social-logo {
  min-width: 40px;
  min-height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in-out;
  transition-duration: 0.5s;
}

.help__social-logo:hover {
  opacity: 0.6;
}

.help__social-logo:nth-of-type(1) {
  background: url('../../../images/logo__social__vk.svg') no-repeat;
}
.help__social-logo:nth-of-type(2) {
  background: url('../../../images/logo__social__tg.svg') no-repeat;
}
