.help__social-logo {
  max-width: 40px;
  max-height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
  cursor: pointer;
}

.help__social-logo:hover {
  opacity: 0.6;
  transition: ease-in-out;
  transition-duration: 0.5s;
}
