.page {
  font-family: "Inter", "Arial", sans-serif;
}
























/* 
.PayOptions__title {
  margin: 0;
  padding: 0;
  padding-left: 64px;
  padding-bottom: 16px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
} */

/* Сергей */
























* {
  box-shadow: 0 0 1px red;
}
