body {
  background: #FFFFFF;
  /* color: #999; */

  max-width: 1280px;
  margin: 0 auto;
}


.support {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1134px;
  background: #82607D;
  position: relative;
  min-height: 590px;
}




@media screen and (max-width: 967px) {
  .support {
    max-width: 375px;
    min-height: 706px;
    /* padding-top: 48px; */
    padding-left: 24px;
    /* padding-bottom: 40px; */

    font-size: 27px;
    line-height: 38px;
    /* display: flex; */
  }
}


.support__title {
  max-width: 400px;
  padding-top: 94px;
  padding-left: 51px;
  padding-bottom: 169px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 66px;

  color: #FFFFFF;
}

@media screen and (max-width: 1125px) {
  .support__title {
    /* text-align: center; */
    align-self: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 310px;
    padding-top: 48px;
    padding-left: 24px;
    padding-bottom: 40px;

    font-size: 38px;
    line-height: 48px;
  }
}

@media screen and (max-width: 967px) {
  .support__title {
    font-size: 25px;
    line-height: 38px;
  }
}

.support__title_span {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
}

@media screen and (max-width: 1125px) {
  .support__title_span {
    font-size: 38px;
    line-height: 48px;
  }
}

@media screen and (max-width: 967px) {
  .support__title_span {

    font-size: 27px;
    line-height: 37px;
  }
}


.support__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #000000;
  padding-left: 64px;
}

.switch {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;

  width: 551px;
  height: 32px;

  font-family: verdana;
  display: flex;

  margin: 0 auto;
  margin-bottom: 40px;
}


@media screen and (max-width: 967px) {
  .switch {
    width: 330px;

  }
}


.switch:before {
  content: '';
  position: absolute;
  left: 0;
  z-index: -1;
  /* width: 100%; */
  height: 32px;
  border-radius: 30px;
  background: #F8F8F8;

}

.switch__label {
  width: 275px;
  height: 32px;
  /* padding-top: 6px; */
  transition: color 2s ease-out;
  z-index: 15;

  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #999999;

}

@media screen and (max-width: 967px) {
  .switch__label {
    width: 165px;

  }
}


.switch__inputOne:checked~.switch__indicator {
  transform: translate3d(0, 0, 0);
}

.switch__inputTwo:checked~.switch__indicator {
  transform: translate3d(275px, 0, 0);
}

@media screen and (max-width: 967px) {
  .switch__inputTwo:checked~.switch__indicator {
    transform: translate3d(165px, 0, 0);
  }
}

.switch__inputOne:checked~.switch__label1 {
  color: #F8F8F8;
}

.switch__inputTwo:checked~.switch__label2 {
  color: #F8F8F8;
}


.grid__money-input:checked~.grid__money-label {
  background: #82607D;
}


.switch__label:hover {
  cursor: pointer;
  opacity: .5;
}

/* .switch__indicator_enable {
  visibility: visible;
} */

.switch__indicator {
  width: 275px;
  height: 32px;
  position: absolute;

  top: 0;
  left: 0;
  background: #82607D;

  border-radius: 30px;
  transition: transform 200ms cubic-bezier(0.02, 0.94, 0.09, 0.97), background 200ms cubic-bezier(0.17, 0.97, 0.14, 1.03);
  /* visibility: hidden; */
}

@media screen and (max-width: 967px) {
  .switch__indicator {
    top: 0;
    left: 0;
    width: 164px;
  }
}


.switch__input {
  display: none;
}


.grid {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(148px, 173px)); */
  grid-template-columns: repeat(3, minmax(148px, 173px));
  grid-template-rows: repeat(2, 56px);
  grid-template-areas:
    "grid__money-input1 grid__money-input2 grid__money-input3"
    "sumMoney sumMoney sumMoney";

  column-gap: 16px;
  row-gap: 16px;
  align-items: center;
  justify-content: center;
  max-width: 664px;

  /* margin: 0 auto; */
  padding-bottom: 50px;
}


/* @media screen and (max-width: 967px) {
  .grid {
    padding-bottom: 32px;
  }
} */


@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 147px);
    grid-template-rows: repeat(3, 56px);
    grid-template-areas:
      "grid__money-input1 grid__money-input2"
      "grid__money-input3 grid__money-input3"
      "sumMoney sumMoney";

    padding-bottom: 32px;
  }
}


.grid__money-input {
  display: none;
}



.grid__money-label1 {

  grid-area: grid__money-input1;
}

.grid__money-label2 {
  grid-area: grid__money-input2;
}

.grid__money-label3 {
  grid-area: grid__money-input3;
}

.grid__input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  grid-area: sumMoney;
  max-width: 100%;
  height: 100%;
  background: #F8F8F8;
  border: none;

}

.grid__money-label {
  /* max-width: 173px; */
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F8F8F8;
  text-align: center;


  cursor: pointer;
  color: black;
  /* opacity: .3; */
}


.grid__money-label:hover {
  opacity: .8;
}

.supportForm {

  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;



  width: 100%;
  max-width: 664px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 15;
  background: #FFFFFF;
  margin: 0 auto;
}

.supportForm_absolute {
  position: absolute;
  top: 40px;
  right: 32px;
}

@media screen and (max-width: 967px) {
  .supportForm {
    /* position: absolute; */
    width: 100%;
    max-width: 359px;
    max-height: 500px;
    top: 198px;
    /* top:550px; */
    bottom: 8px;
    left: 8px;
    background: #FFFFFF;
    z-index: 25;
  }
}


.support-button {
  width: 100%;
  max-width: 551px;
  height: 56px;
  /* margin: 0 auto; */
  background: #EEB250;
  border-radius: 56px;
  margin-bottom: 64px;
}


@media screen and (max-width: 967px) {
  .support-button {
    max-width: 311px;
    width: 100%;
    margin-bottom: 40px;
  }
}


.supportForm__title {
  margin: 0;
  padding: 0;
  padding-top: 56px;
  margin-bottom: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #000000;
}



@media screen and (max-width: 967px) {
  .supportForm__title {
    margin: 0;
    padding: 0;
    padding-top: 40px;
    margin-bottom: 24px;

  }
}



/* 
* {
  box-shadow: 0 0 1px red;
} */
