.contacts__title {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.14;
  text-align: center;
  color: #000000;
  margin: 0 0 32px 0;
}

@media screen and (max-width: 1080px) {
  .contacts__title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .contacts__title {
    font-size: 30px;
    line-height: 1.38;
    margin-bottom: 16px;
  }
}
