.friends {
  position: relative;
  max-height: 652px;
  width: 100%;
  margin-top: 96px;
}

@media screen and (max-width: 1080px) {
  .friends {
    margin-top: 56px;
  }
}

.quote__text {
  margin: 0 auto 16px auto;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.32;
}

.quote__author {
  margin: 0;
  max-width: 509px;
  font-size: 18px;
  line-height: 1.3;
}



@media screen and (max-width: 767px) {
  .friends {
    max-height: 510px;
  }

  .quote__text {
    font-size: 27px;
    line-height: 1.41;
  }

  .quote__author {
    font-size: 16px;
    line-height: 1.44;
  }

  .quote__img {
    max-width: 325px;
    max-height: 331px;
    position: absolute;
    bottom: -50px;
    right: -100px;
  }

  .friends__quote {
    max-width: 311px;
    margin: 46px auto 0 36px;
  }

  .quote__text {
    max-width: 326px;
    font-size: 25px;
    line-height: 1.41;
  }

  .quote__author {
    max-width: 210px;
    font-size: 14px;
    line-height: 1.44;
    max-width: 311px;
  }

  .friends__wrapper {
    position: relative;
    height: 408px;
    overflow: hidden;
    background: none;
  }

  .slider__item:nth-of-type(2) .friends__wrapper {
    background: none;
  }

  .slider__item:nth-of-type(3) .friends__wrapper {
    background: none;
  }

  .slider__item:nth-of-type(4) .friends__wrapper {
    background: none;
  }

  .slider__item:nth-of-type(5) .friends__wrapper {
    background: none;
  }

  .slider__item:nth-of-type(6) .friends__wrapper {
    background: none;
  }

  .slider__item:nth-of-type(7) .friends__wrapper {
    background: none;
  }
}
