.blog__main-card-text{
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 16px 0 26px 24px;
}