.support {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1134px;
  background: #82607d;
  position: relative;
  min-height: 590px;
  z-index: 20;
}

@media screen and (max-width: 967px) {
  .support {
    max-width: 375px;
    min-height: 706px;
    /* padding-top: 48px; */
    padding-left: 24px;
    /* padding-bottom: 40px; */

    font-size: 27px;
    line-height: 1.31;
    /* display: flex; */
  }
}
