.subscribe__wrapper {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 1080px) {
  .subscribe__wrapper {
    max-width: 428px;
  }
}

@media screen and (max-width: 460px) {
  .subscribe__wrapper {
    max-width: 373px;
  }
}
