.friends__quote_author {
  margin: 0;
  max-width: 509px;
  font-size: 18px;
  line-height: 1.3;
}

@media screen and (min-width:768px) and (max-width: 1024px){
  .friends__quote_author{
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .friends__quote_author {
    font-size: 16px;
    line-height: 1.44;

  }
}

@media screen and (max-width: 375px) {
  .friends__quote_author {
      max-width: 210px;
      font-size: 14px;
      line-height: 1.44;
  }
}
