.work {
  position: relative;
  margin: 0 auto;
  width: 81%;
  padding-top: 96px;
  overflow-x: hidden;
}

@media screen and (max-width: 1080px) {
  .work {
    padding-top: 56px;
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .work {
    max-width: 375px;
  }
}

.font {
  font-family: "Inter", sans-serif;
}

.span__bold {
  font-weight: bold;
}
