.footer__menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 66%;
  margin: 0;
  padding-top: 25px;
  padding-left: 7px;
}

@media screen and (max-width: 1080px) {
  .footer__menu {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .footer__menu {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 25px 0 24px;
  }
}
