.programs__logo-box {
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 12px;
  opacity: 0.6;
}

@media (max-width: 767px) {
  .programs__logo-box {
    font-size: 6px;
    padding-left: 24px;
  }
}
