.bank–°ard-Front__finalSum-title {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;

  color: #8e8e8e;
  padding-bottom: 2px;
  min-width: 150px;
  margin-left: 16px;
}
