.bankcard-Front__bestBefore-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.44;

  color: #000000;
  padding-left: 24px;
  padding-bottom: 4px;
}
