.friends__quote {
  margin: 142px auto 122px 125px;
  height: 100%;
  max-width: 770px;
  width: 100%;
}

@media screen and (min-width:1025px) and (max-width: 1279px){
  .friends__quote{
    max-width: 40%;
  }
}

@media screen and (min-width:768px) and (max-width: 1024px){
  .friends__quote{
    max-width: 36%;
    margin: 70px 50px;
  }
}

@media screen and (max-width: 767px) {
  .friends__quote {
    max-width: 100%;
    width: 100%;
    margin: 46px auto 0 36px;
  }
}

@media screen and (max-width: 576px) {
  .friends__quote {
    margin: 5px auto 0 26px;
  }
}
