.questions__input-text {
  border: none;
  background: #f8f8f8;
  max-width: 294px;
  width: 100%;
  border-radius: 56px;
  height: 56px;
  padding-left: 32px;
}

@media screen and (max-width: 767px) {
  .questions__input-text {
    max-width: 100%;
  }
}
