.underelement__boop {
  border-radius: 136px;
  position: absolute;
  z-index: 2;
}

.underelement__boop:nth-of-type(1) {
  width: 17px;
  height: 17px;
  background: #77c5d5;
  top: calc(96px + 273px);
  right: 384px;
}

.underelement__boop:nth-of-type(2) {
  background: #528cbe;
  width: 23px;
  height: 23px;
  right: 338px;
  top: calc(393px + 96px);
}

.underelement__boop:nth-of-type(3) {
  background: #de6f7e;
  width: 23px;
  height: 23px;
  bottom: 181px;
  left: 401px;
}

.underelement__boop:nth-of-type(4) {
  bottom: 144px;
  right: 509px;
  width: 7px;
  height: 7px;
  background: #77c5d5;
  z-index: 2;
}

.underelement__boop:nth-of-type(5) {
  bottom: 176px;
  right: 36px;
  width: 9px;
  height: 9px;
  background: #eeb250;
}

.underelement__boop:nth-of-type(6) {
  bottom: 115px;
  left: 221px;
  width: 7px;
  height: 7px;
  background: #77c5d5;
}

.underelement__boop:nth-of-type(7) {
  bottom: 231px;
  left: 176px;
  width: 17px;
  height: 17px;
  background: #77c5d5;
}

.underelement__boop:nth-of-type(8) {
  bottom: 243px;
  left: 145px;
  width: 7px;
  height: 7px;
  background: #de6f7e;
}

.underelement__boop:nth-of-type(9) {
  top: calc(266px + 96px);
  right: 449px;
  width: 7px;
  height: 7px;
  background: #f8f8f8;
}

.underelement__boop:nth-of-type(10) {
  top: calc(318px + 96px);
  right: 332px;
  width: 7px;
  height: 7px;
  background: #f8f8f8;
}

.underelement__boop:nth-of-type(11) {
  top: calc(568px + 96px);
  left: 228px;
  width: 23px;
  height: 23px;
  background: #f8f8f8;
}

@media screen and (max-width: 767px) {
  .underelement__boop {
    top: unset;
    right: unset;
    left: unset;
    bottom: unset;
    display: none;
  }

  .underelement__boop:nth-of-type(1) {
    display: block;
    width: 4px;
    height: 4px;
    top: calc(407px + 56px);
    right: 30px;
    background: #77c5d5;
  }

  .underelement__boop:nth-of-type(2) {
    display: block;
    width: 14px;
    height: 14px;
    background: #528cbe;
    top: calc(536px + 56px);
    right: 34px;
  }

  .underelement__boop:nth-of-type(3) {
    display: block;
    width: 4px;
    height: 4px;
    background: #ef9100;
    left: unset;
    right: 22px;
    bottom: 129px;
  }

  .underelement__boop:nth-of-type(4) {
    display: block;
    width: 4px;
    height: 4px;
    background: #77c5d5;
    left: 37px;
    bottom: 124px;
  }

  .underelement__boop:nth-of-type(5) {
    display: block;
    width: 14px;
    height: 14px;
    background: #de6f7e;
    left: 16px;
    bottom: 156px;
  }

  .underelement__boop:nth-of-type(6) {
    display: block;
    width: 4px;
    height: 4px;
    background: #ef9100;
    left: 60px;
    bottom: 215px;
    z-index: 2;
  }

  .underelement__boop:nth-of-type(7) {
    display: block;
    width: 10px;
    height: 10px;
    background: #54a8b6;
    left: -5px;
    bottom: 207px;
  }
}
