.footer__link {
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.43;
  color: white;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
}

.footer__link:hover {
  opacity: 0.6;
}
