.questions__input-message {
  padding-top: 18px;
  padding-left: 32px;
  max-width: 680px;
  width: 100%;
  border: none;
  background: #f8f8f8;
  border-radius: 26px;
  height: 143px;
  outline:none;
}

.questions__input-message:focus {
  outline: 1px solid #528CBE;
}

@media screen and (max-width: 767px) {
  .questions__input-message {
    width: 100%;
  }
}
