.programs {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 96px;
  overflow: hidden;
}

@media screen and (max-width: 1080px) {
  .programs {
    padding-top: 56px;
  }
}

@media (max-width: 767px) {
  .header_programs-padding {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .header_programs-positioning {
    width: 100%;
    padding: 32px 0 39px;
  }
}
