.subscribe__form {
  max-width: 496px;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .subscribe__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
