.header__sublink-sub {
  /*display: inline;*/
  font-weight: 400;
  font-size: 10px;
  line-height: 1.39;
  color: #6b6b6b;
  /*text-decoration: none;*/
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header__sublink-sub {
    width: 80%;
    font-size: 16px;
    text-align: center;
    line-height: 1.3;
    padding: 0 5px 0;
  }
}

.header__sublink-sub:hover {
  color: black;
  transition: ease-in-out;
  transition-duration: 0.3s;
}
