.header__menue {
  box-sizing: border-box;
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1080px) {
  .header__menue {
    width: 75%;
  }
}

@media screen and (max-width: 767px) {
  .header__menue {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
  }
}
