.useful__element {
  max-width: 504px;
  background: #F8F8F8;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

@media screen and (max-width: 1040px){
  .useful__element {
    max-width: 767px;
  }
}

@media screen and (max-width: 767px){
  .useful__element {
    max-width: 500px;
  }
}

@media screen and (max-width: 550px){
  .useful__element {
    max-width: 320px;
  }
}


