.programs__item_school {
  background-image: url("../../../../images/programs_img_2.png");
  background-color: #528cbe;
}


@media (max-width: 767px) {
  .programs__item_school {
    background-image: none;
    padding-left: 24px;
  }
}

@media (max-width:374px) {
  .programs__item_school {
    padding-left: 18px;

  }
}
