.switch__inputOne:checked ~ .switch__indicator {
  transform: translate3d(0, 0, 0);
}

.switch__inputOne:checked ~ .switch__labelOne {
  color: #f8f8f8;
}

.switch__inputTwo:checked ~ .switch__labelTwo {
  color: #f8f8f8;
}
