.header__burger-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__burger-menu {
    box-sizing: border-box;
    position: relative;
    display: block;
    cursor: pointer;
    width: 24px;
    height: 18px;
    z-index: 10;
    margin: 0 24px 0;
    padding: 0;
  }

  .header__burger-menu::before {
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #fff;
    content: "";
    top: 0;
  }

  .header__burger-menu::after {
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #fff;
    content: "";
    bottom: 0;
  }
}
