.footer__menue-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  margin: 8px 0 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__menue-items {
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 16px;
    margin: 0;
  }
}
