.support__title {
  max-width: 400px;
  padding-top: 94px;
  padding-left: 51px;
  padding-bottom: 169px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 1.1;

  color: #ffffff;
}

@media screen and (max-width: 1125px) {
  .support__title {
    /* text-align: center; */
    align-self: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 310px;
    padding-top: 48px;
    padding-left: 24px;
    padding-bottom: 40px;

    font-size: 38px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 967px) {
  .support__title {
    font-size: 25px;
    line-height: 1.41;
  }
}
