.bankCard-requisites__checkbox-wrapper {
  margin-bottom: 16px;
}

.bankCard-requisites__checkbox-wrapper:last-of-type {
  margin-bottom: 27px;
}

@media screen and (max-width: 767px) {
  .bankCard-requisites__checkbox-wrapper {
    max-width: 311px;
  }
}
