.programs__item_team {
  background-image: url("../../../../images/programs_img_3.png");
  background-color: #de6f7e;
  padding-left: 124px;
}

@media (max-width: 1080px) {
  .programs__item_team {
    padding-left: 38px;
    background-position: 200px;
  }
}

@media (max-width: 767px) {
  .programs__item_team {
    background-image: none;
    padding-left: 24px;
    padding-right: 2px;
  }
}

@media (max-width:374px) {
  .programs__item_team {
    padding-left: 18px;

  }
}
