.menue-program__item-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 1080px) {
  .menue-program__item-box {
    padding-left: 15px;
  }
}
