.questions__input-checkbox-label {
  margin-top: 17px;
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .questions__input-checkbox-label {
    margin-top: 5px;
    align-self: center;
    max-width: 334px;
  }
}
