.blog__row-button {}

@media screen and (max-width: 767px) {
  .blog__row-button {
    background: #c8c8c8;
    opacity: 0.4;
    border-radius: 6px;
    width: 8px;
    height: 8px;
    border: none;
  }

  .blog__row-button:nth-of-type(2) {
    width: 29px;
    background: #71bbca;
    opacity: 1;
  }
}
