.useful__element-image_shifted {
  margin: 0 13px 0 0;
  z-index: -1;
}

@media screen and (max-width: 1040px) {
  .useful__element-image_shifted {
    margin: 0 0 0 -200px;
  }
}

@media screen and (max-width: 550px) {
  .useful__element-image_shifted {
    margin: 0 0 -55px -200px;
  }
}

@media screen and (max-width: 374px) {
  .useful__element-image_shifted {
    display: none;
  }
}
