.subscribe {
  display: flex;
  max-width: 1280px;
  width: 100%;
  background: #f8f8f8;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1080px) {
  .subscribe {
    padding-left: 40px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 767px) {
  .subscribe {
    flex-direction: column;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
  }
}
