.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 15;
}
