.bankСard-Front__CVV-CVC {
  max-height: 83px;
  position: absolute;
  top: 162px;
  right: 47px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .bankСard-Front__CVV-CVC {
    display: none;
  }
}
