.subscribe__email {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.11;
  color: #999999;
  min-height: 56px;
  padding: 18px 22px 18px 55px;
  border: 0;
  border-radius: 56px;
  background-image: url(../../../images/letter.svg);
  background-repeat: no-repeat;
  background-position: left 32px center;
  outline:none;
}

.subscribe__email:focus {
  outline: 1px solid #528CBE;
}

@media screen and (max-width: 767px) {
  .subscribe__email {
    box-sizing: border-box;
    max-width: 100%;
    padding: 18px 93px 18px 80px;
    text-align: left;
  }
}

@media screen and (max-width: 470px) {
  .subscribe__email {
    padding: 18px 70px 18px 57px;
  }
}

@media screen and (max-width: 374px) {
  .subscribe__email {
    padding: 18px 10px 18px 57px;
  }
}

