.subscribe__email {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.11;
  color: #999999;
  width: 328px;
  height: 56px;
  padding-left: 65px;
  margin-top: 80px;
  margin-left: 28px;
  margin-right: 16px;
  border: 0;
  border-radius: 56px;
  background-image: url(../../../images/letter.svg);
  background-repeat: no-repeat;
  background-position: left 32px center;
}

@media screen and (max-width: 767px) {
  .subscribe__email {
    width: 362px;
    margin: 0 0 16px 0;
  }
}
