.supportExtended__title {
  margin: 0 auto;
  padding-top: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.32;
  /* max-width: 855px; */
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 1023px) {
  .supportExtended__title {
    /* text-align: left; */
    padding-top: 50px;
    padding-left: 16px;
    min-width: 320px;
    font-size: 38px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 497px) {
  .supportExtended__title {
    padding-top: 4px;
  }
}
