.useful__element-link {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  z-index: 2;
}

.useful__element-link:hover {
  color: turquoise;
  transition: ease-in-out;
  transition-duration: 0.5s;
  cursor: pointer;
}
