.work__underelement-element {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 416px;
  height: 163px;
  border-radius: 100px;
}

.work__underelement-element_first {
  background: url("../../../images/work_img-1.svg") #77c5d5 no-repeat 38px bottom;
  align-self: start;
}

.work__underelement-element_first .work__element-text {
  max-width: 160px;
  right: 64px;
  top: 49px;
}

.work__underelement-element_second {
  margin-top: -42px;
  margin-right: 190px;
  background: url("../../../images/work_img-2.svg") #528cbe no-repeat left bottom;
}

.work__underelement_second .work__element-text {
  max-width: 121px;
  top: 49px;
  right: 105px;
}

.work__underelement-element_third {
  margin-top: -52px;
  margin-left: 280px;
  background: url("../../../images/work_img-3.svg") #de6f7e no-repeat left 26px;
}

.work__underelement-element_third .work__element-text {
  max-width: 225px;
  top: 43px;
  right: 42px;
}

.work__underelement-element_fourth {
  margin-top: -43px;
  background: url("../../../images/work_img-4.svg") #eeb250 no-repeat left 22px;
  align-self: end;
}

.work__underelement-element_fourth .work__element-text {
  max-width: 225px;
  top: 43px;
  right: 54px;
}

@media screen and (max-width: 767px) {
  .work__underelement-element {
    width: 299.92px;
    height: 102.23px;
    border-radius: 100px;
  }

  .work__underelement-element_first {
    margin: 0;
    margin-left: 8px;
    background: url('../../../images/work_img-1.svg') #77c5d5 no-repeat 19px bottom;
    background-size: 79px;
  }

  .work__underelement-element_first .work__element-text {
    top: 23px;
    right: 30px;
    max-width: 155px;
  }

  .work__underelement-element_second {
    background: url('../../../images/work_img-2.svg') #528cbe no-repeat left 18px;
    background-size: 104px;
    align-self: start;
    margin: 0;
    margin-left: 29px;
  }

  .work__underelement-element_second .work__element-text {
    top: 33px;
    right: 65px;
    max-width: 103px;
  }

  .work__underelement-element_third {
    background: url('../../../images/work_img-3.svg') #de6f7e no-repeat left 23px;
    background-size: 82px;
    align-self: end;
    margin: 0;
    margin-right: 28px;
  }

  .work__underelement-element_third .work__element-text {
    top: 29px;
    right: 23px;
    max-width: 190px;
  }

  .work__underelement-element_fourth {
    background: url('../../../images/work_img-4.svg') #eeb250 no-repeat left center;
    background-size: 68px;
    margin: 0;
    margin-right: 8px;
  }

  .work__underelement-element_fourth.work__element-text {
    top: 25px;
    right: 20px;
    max-width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .work__underelement-element {
    width: 299.92px;
    height: 102.23px;
    border-radius: 100px;
  }

  .work__underelement-element_first {
    margin: 0;
    background: url('../../../images/work_img-1.svg') #77c5d5 no-repeat 19px bottom;
    background-size: 79px;
  }

  .work__underelement-element_second {
    background: url('../../../images/work_img-2.svg') #528cbe no-repeat left 18px;
    background-size: 104px;
    align-self: center;
    margin: 0;
  }

  .work__underelement-element_third {
    background: url('../../../images/work_img-3.svg') #de6f7e no-repeat left 23px;
    background-size: 82px;
    align-self: end;
    margin: 0;
  }

  .work__underelement-element_fourth {
    background: url('../../../images/work_img-4.svg') #eeb250 no-repeat left center;
    background-size: 68px;
    margin: 0;
  }
}
