.bankСard-Front__BottomLine {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .bankСard-Front__BottomLine {
    flex-direction: column;
  }
}
