.footer__contact-details {
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #77c5d5;
  padding-right: 50px;
  margin-left: 22px;
  transition-duration: 0.3s;
}

.footer__contact-details:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1080px) {
  .footer__contact-details {
    font-size: 10px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .footer__contact-details {
    font-size: 12px;
    padding-right: 0;
  }
}
