.partners__logo {
  max-width: 100%;
  filter: grayscale(1);
  opacity: 0.5;
  height: 124px;
}

.partners__logo:hover {
  filter: grayscale(0);
  opacity: 1;
}

@media (max-width: 767px) {
  .partners__logo {
    height: 80px;
  }
}
