.bankСard-Front__placeholders-name {
  margin-bottom: 16px;
  height: 56px;
  width: 308px;
  border: none;
  padding-left: 18px;
}

@media screen and (max-width: 767px) {
  .bankСard-Front__placeholders-name {
    width: 279px;
  }
}
